@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        background-image: url('../img/pattern.png');
    }
    /*FUENTES*/
    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('../css/fonts/websymbols-regular-webfont.woff');
        font-weight: normal;
        font-style: normal;
    }
    .symbol{
        font-family: "WebSymbolsRegular";
    }
    .font{
        font-family: "BebasNeue";
    }
    .carta:hover{
        @apply
        text-white
    }

    @layer components {
        .lista {
            @apply mt-3 pr-10 hover:text-azul-claro hover:scale-125 transform duration-100
        }
        .carta{
            @apply float-left w-52 h-80 bg-white overflow-hidden m-7 mt-10 cursor-pointer shadow-md
        }
}