@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        background-image: url('../img/pattern.png');
    }
    /*FUENTES*/
    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('../css/fonts/websymbols-regular-webfont.woff');
        font-weight: normal;
        font-style: normal;
    }
    .symbol{
        font-family: "WebSymbolsRegular";
    }
    .font{
        font-family: "BebasNeue";
    }

    @layer components {
        .lista {
            @apply mt-3 pr-10 hover:text-blue-400 hover:scale-125 transform duration-100
        }
        .carta{
            @apply float-left w-52 h-80 bg-white overflow-hidden m-7 mt-10 cursor-pointer shadow-md
        }
    }
/*TARJETAS*/
.carta{
    float:left;
    width: 205px;
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    background: white;
    overflow: hidden;
    margin: 22px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 300ms;
}

    .carta:hover{
    background: black;
}

.carta:last-child{
    margin-right: 0px;
}

.carta .icono{
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 110px;
    text-align: center;
    margin: 0px auto;
    transition: all 300ms;
}

.carta:hover .icono{
    font-size: 70px;
    color: #37bcf9;
    animation: showIcono 300ms linear;
}

@keyframes showIcono{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}

.carta .category{
    width: 100%;
    height: 50px;
    font-family: "TrebuchetMS";
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #00538c;
    transition: all 300ms;
}

.carta:hover .category{
    color: white;
    animation: showCategory 400ms linear;
}

@keyframes showCategory{
    from{
        transform: translateY(-300%);
        color:black;
    }
    to{
        transfrom: translateY(0%);
        color: white;
    }
}

.carta .description{
    font-family: "TrebuchetMS";
    text-align: center;
    color: #0370b9;
    font-size: 15px;
    transition: all 300ms;
}

.carta:hover .description{
    color: white;
    animation: showDescription 400ms linear;
}

@keyframes showDescription{
    from{
        transform: translateX(-300%);
        color: black;
    }
    to{
        transform: translateX(0%);
    }
}
.articles {
    @apply
    w-articles
    float-left
  }

  .articles h2 {
    background: url('../img/pxgray.png');
    line-height: 75px;
    @apply
    block
    w-full
    h-20
    text-center
    font-bebas
    text-4xl
    font-normal
    tracking-wider
    bg-white
    shadow-md
    m-0
    mr-auto
    mt-5
    mb-4
    pt-5
  }

  .articles article {
    font-family: "TrebuchetMS";
    @apply
    w-article
    h-auto
    border-2
    border-white
    m-10
    mr-auto
    p-2
    bg-white
    text-black
    shadow-md
  }

  .articles article h4 {
    @apply
    block
    font-bold
    text-2xl
    m-0.5
  }

  .articles article h4 a {
    color: #00538c;
    @apply
    no-underline
  }

  .articles article h4 a:hover {
    @apply
    underline
  }

  .articles .data {
    background: #393d3f;
    @apply
    float-right
    text-white
    h-8
    leading-9
    -m-3
    p-1
    text-sm
    rounded-sm
  }

  .articles .data span {
    @apply
    m-1
  }

  .articles article p {
    @apply
    mt-2
    mb-2
    text-sm
  }

  .blog {
    transition-duration: 1s;
    @apply
    w-3/5
    p-10
    h-24
    mt-16
    leading-blog
    text-center
    transition-all
  }

  .blog a {
    transition-duration: 1s;
    color: #00538c;
    @apply
    block
    font-bebas
    text-4xl
    tracking-widest
    no-underline
    transition-all
  }

  .blog:hover {
    border-radius: 240px;
    @apply
    bg-gray-600
    shadow-lg
    animate-blinkBlog
  }

  .blog:hover a {
    @apply
    text-white
    shadow-lg
  }


}