/*Crea una página web con un formulario que tenga el mismo aspecto que la siguiente imagen:

En la imagen animada se muestra:
El efecto que se debe configurar cuando el cursor del ratón se sitúe 
encima de un control del formulario: se debe destacar con un fondo de color rojo.
El efecto que se debe configurar cuando un control del formulario reciba el foco 
del teclado: se debe destacar con un fondo de color amarillo. 
Además: Contenido de la página centrado. Título y subtítulo: tipo de letra Georgia, serif. 
Tipo de letra principal: Arial, Helvetica, sans-serif.
Leyendas (legend) y etiquetas: negrita.*/


body{
    text-align:center;
    margin: 0 auto;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}   

legend {
    width: 9em;
    font-size:20px;
    margin-top:-12px;
    margin-left:13px;
    background:white;
    text-transform: uppercase;
}

div{
    margin-left:10px;
    margin-right:10px;
    text-align: left;
    font-weight: bold;
    margin: 2em auto;
}

label {
    display: inline-block;
    padding: 10px;
    height: 20px;
}
  
input {
    display: inline-block;
    width: 8em;
    margin-left: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

#calendario{
    clip: rect(1px, 1px, 1px, 1px) !important;
}

input:focus, select:focus {
    background-color: yellow;
  }
  
input:hover, select:hover {
    background-color: red;
}

.opcion {
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top:-30px;
    margin-left:-35px;
}

.labelOpcion {
   padding-right: 1em;
   margin-left: 2em;
}

#boton{
    font-size: 35px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 18px;
    float: left;
    height: 2em;
    width: 7em; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);
}

