@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        background-image: url('../img/wallpaper.PNG');
        background-repeat: no-repeat;
          /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*FUENTES*/
    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('../css/fonts/websymbols-regular-webfont.woff');
        font-weight: normal;
        font-style: normal;
    }
    .symbol{
        font-family: "WebSymbolsRegular";
    }
    .font{
        font-family: "BebasNeue";
    }

    .fotoNavbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fotoNavbar img {
        height: 45%;
        width: 35%;
        object-fit: cover;
    }
/* animacion del cargado de pantalla */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Animacion de cargado de pagina */
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Agriega una animacion despeus de la pagina al cargar*/
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  /* Div general del html donde se junta todo los divs junto a las cartas*/
  #myDiv {
    display: none;
    text-align: center;
    padding-left: 20px;
  }


  /* Inicio de la animacion del titulo nuestros huertos en la primera carta */

  .huerto:before{
    content: 'Nuestros Huertos';
    animation-name: head;
    animation-duration: 3s;
    animation-iteration-count: forwards;
}
/* Animacion de nuestros huertos de la carta de la pagina web */
@keyframes head {
    0% {opacity:1;}
    25% { opacity:0;content: "Nuestros huertos"}
    50% { opacity:1; content: "111011010111"}
    65% { opacity:0; content: "Vue01011 mue0010101"}
    80% { opacity:1; content: "010001100010uertos"}
    90% { opacity:0;  content: "Nuestros uertos"}
    100% {opacity:1; content: "Nuestros Huertos"}
}

  /* Estilo del footer */

 footer{
    bottom: 0px;
    height: 22%;
    width:100%;
  }
}