.raton {
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-family: Verdana,sans-serif;
  }
  .raton:hover {
    color: red;
}
.raton {
      transition: color 0.4s linear 0.2s;
  }

#rotar{
    -webkit-transform: rotate(-150deg); 
    -moz-transform: rotate(-150deg);      
    width:100px;
}

#engranaje{
    animation-name: motor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
    color: blue;
}

@keyframes motor {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.derechaIzquierda {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft infinite 6s linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 6s;
}
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.menu > span{
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.menu:after, .menu > span > span{
    display: block;
    text-align: center;
    border-radius: 0em;
    padding: 2em 0 1.5em;
}

.menu:after {
    content: attr(data-title);
    width: 100%;
    background: #000;
    color: #fff;
}

.menu > span > span{
    width: 120px;
    color: #fff;
}

.menu.servicios > span > span{
    background: #ffc000;
}

.menu.proyectos > span > span{
    background: #00a53c;
}

.menu.recursos > span > span{
    background: #b81800;
}

.menu.contacto > span > span{
    background: #9600b4;
}

.menu:hover > span{
    height:100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline;
    float: left;
    text-decoration: none;
    font-family: sans;
}