/*Un diseño elástico centrado con un ancho de 60 em.
El encabezado de nivel 1 centrado.
El contenido principal de la página se organiza en dos columnas, una de 16 em de ancho 
y la otra el espacio restante de 44 em. La lista que explica el contenido del libro se muestra 
como un texto a tres columnas del mismo ancho. Puedes modificar el código HTML proporcionado 
para añadir los identificadores y clases que necesites. También puedes añadir etiquetas <div> 
para definir elementos contenedores en la página.*/

h1{ 
    text-align: center;
}

body{
    width: 60em;
    margin: 0 auto;
}

.columna-Izquierda{
    width: 16em;
    float: left;
}

.central-block{
    width: 44em;
    float: left;
}

.central-block ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.central-block li{
    width: 33%;
    margin: 3px;
}

