a {
    color: blue;
    background-color:white;
    text-decoration: none;
  }
   a:visited {
        color: darkgreen;
        text-decoration: none;
    }
  a:hover {
    color: #FFF;
    background-color: #F00;
    text-decoration: underline;
    }
  
  a:focus {
    color: blue;
    background-color:grey;
    text-decoration: underline;
  }
  
  a:active {
    color: orange;
    text-decoration: none;
  }